/******************TAG SELECTORS****************/
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-family: 'Sacramento', cursive;
}
h2{
    font-size: 20px;
}
hr{
    margin-top: 24px;
    margin-bottom: 24px;
    border-style: none;
    border-top: dotted;
    border-color: black;
    width: 8%;
    border-width: 10px;
    border-color: #22577A;
    
}
a{
    color:#22577A;
    text-decoration: none;
}
/******************Class SELECTORS*************/
.Headline{
    background-color: #E4F9F5;
    padding-top: 3%;
    position: relative;
}

.headlinetext{
    position: relative;
    margin: 0 auto;
    color: #22577A;
    padding-top: 2%;
    font-size: 500%;
}

.bio{
    margin-top: 24px;
}

.pic{
    width: 15%;
    padding-top: 24px;
}

.smbuttons{
    width:50px;
    margin-right: 13px;
}
/******************ID SELECTORS*************/
#cloudone{
    margin-left: 50%;
    width:11%;
}

#cloudtwo{
    position: absolute;
    left: 19%;
    width: 10%;
}

#BoatAndBackground{
    position: relative;
    margin-top: 6%;
}

#boat2{
    width:20%;
    position: absolute;
    right:40%;
    top: 70%;
}

#background{
    width:50%;
}

#mischmasch{
    border-radius: 100%;
    width:20%;
}

#footerline{
    margin-top:24px;
    margin-bottom:24px;
    border-style:none;
    border-top: solid;
    background-color: #22577A;
    border-width: 3px;
    width:40%
}
